.wrapper {
    display: flex;
    gap: 12px;
}

.avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.userInfo {
    color: black;
    
    & p:last-child {
        color: #757575;;
    }
}