.wrapper {
    width: 216px;
    position: relative;
    display: flex;
    align-items: center;
}

.icon {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
}