.wrapper {
    display: grid;
    grid-template-columns: 172px 131px 156px 207px 140px auto;
    padding: 0 44px 14px 38px;
    border-bottom: 1px solid #EEEEEE;
    color: #B5B7C0;

    & p:last-child {
        text-align: center;
    }
}